# MongoDB Insert Functionality

Go over how to use the various insert functions of the pymongo module.

### Import MongoClient instance from pymongo module

In [1]:
import pymongo
from pymongo import MongoClient

### Initalize A Client, Connect To DB, Speicfy Collection

In [2]:
my_client=MongoClient("mongodb://localhost:27017/")

In [3]:
my_client.list_database_names()

['admin', 'config', 'employee', 'employee1', 'inventory', 'local', 'students']

In [4]:
db=my_client["employee"]
my_col=db["collection"]

### find_one()

In [6]:
my_col.find_one({"fname":"Prachi"}) # case sensitive

{'_id': ObjectId('6361efc6c84fc28f43c94327'),
 'fname': 'Prachi',
 'lname': 'Natu',
 'salary': 200000}

{'_id': ObjectId('6361efc6c84fc28f43c94327'), 'fname': 'Prachi', 'lname': 'Natu', 'salary': 200000}

### find() and Cursors

In [10]:
my_col.find({"fname":"Prachi"})

In [11]:
my_cursor=my_col.find({"fname":"Prachi"}) # cursor points to memory location of document one by one
my_cursor

In [12]:
for document in my_cursor:
    print(document)

{'_id': ObjectId('6361efc6c84fc28f43c94327'), 'fname': 'Prachi', 'lname': 'Natu', 'salary': 200000}

In [13]:
my_cursor.alive # cursor reached end of the documents specified by 'find' method in collection

False

In [14]:
my_cursor=my_col.find({"fname":"Prachi"}) # cursor points to memory location of document one by one
my_cursor

In [15]:
my_cursor.alive

True

### sort()

In [16]:
for document in my_col.find({}).sort("salary",pymongo.ASCENDING):
    print(document)

{'_id': ObjectId('639059624e83670ac3c7c42f'), 'fname': 'pqr', 'lname': 'qqq', 'salary': 45000}
{'_id': ObjectId('6361f0b2c84fc28f43c9432a'), 'fname': 'xyz', 'lname': 'www', 'salary': 50000}
{'_id': ObjectId('6361f0b2c84fc28f43c94329'), 'fname': 'abc', 'lname': 'awe', 'salary': 100000}
{'_id': ObjectId('6361efc6c84fc28f43c94327'), 'fname': 'Prachi', 'lname': 'Natu', 'salary': 200000}
{'_id': ObjectId('6361f0b2c84fc28f43c94328'), 'fname': 'Anand', 'lname': 'Khandekar', 'salary': 200000}
{'_id': ObjectId('638c8a699ecc97815ce8f555'), 'fname': 'abcd', 'lname': 'asdf', 'salary': '25000'}
{'_id': ObjectId('638f26289ecc97815ce8f557'), 'fname': 'lata', 'lname': 'Rao', 'salary': '30000'}

In [17]:
for document in my_col.find({}).sort("salary",pymongo.DESCENDING):
    print(document)

{'_id': ObjectId('638f26289ecc97815ce8f557'), 'fname': 'lata', 'lname': 'Rao', 'salary': '30000'}
{'_id': ObjectId('638c8a699ecc97815ce8f555'), 'fname': 'abcd', 'lname': 'asdf', 'salary': '25000'}
{'_id': ObjectId('6361efc6c84fc28f43c94327'), 'fname': 'Prachi', 'lname': 'Natu', 'salary': 200000}
{'_id': ObjectId('6361f0b2c84fc28f43c94328'), 'fname': 'Anand', 'lname': 'Khandekar', 'salary': 200000}
{'_id': ObjectId('6361f0b2c84fc28f43c94329'), 'fname': 'abc', 'lname': 'awe', 'salary': 100000}
{'_id': ObjectId('6361f0b2c84fc28f43c9432a'), 'fname': 'xyz', 'lname': 'www', 'salary': 50000}
{'_id': ObjectId('639059624e83670ac3c7c42f'), 'fname': 'pqr', 'lname': 'qqq', 'salary': 45000}

In [19]:
for document in my_col.find({}).sort(
    [("salary",pymongo.ASCENDING),
    ("fname",pymongo.ASCENDING)]):
    print(document)

{'_id': ObjectId('639059624e83670ac3c7c42f'), 'fname': 'pqr', 'lname': 'qqq', 'salary': 45000}
{'_id': ObjectId('6361f0b2c84fc28f43c9432a'), 'fname': 'xyz', 'lname': 'www', 'salary': 50000}
{'_id': ObjectId('6361f0b2c84fc28f43c94329'), 'fname': 'abc', 'lname': 'awe', 'salary': 100000}
{'_id': ObjectId('6361f0b2c84fc28f43c94328'), 'fname': 'Anand', 'lname': 'Khandekar', 'salary': 200000}
{'_id': ObjectId('6361efc6c84fc28f43c94327'), 'fname': 'Prachi', 'lname': 'Natu', 'salary': 200000}
{'_id': ObjectId('638c8a699ecc97815ce8f555'), 'fname': 'abcd', 'lname': 'asdf', 'salary': '25000'}
{'_id': ObjectId('638f26289ecc97815ce8f557'), 'fname': 'lata', 'lname': 'Rao', 'salary': '30000'}

### skip() and limit()

In [20]:
for document in my_col.find({}).limit(3): # print first 3 entries
    print(document)

{'_id': ObjectId('6361efc6c84fc28f43c94327'), 'fname': 'Prachi', 'lname': 'Natu', 'salary': 200000}
{'_id': ObjectId('6361f0b2c84fc28f43c94328'), 'fname': 'Anand', 'lname': 'Khandekar', 'salary': 200000}
{'_id': ObjectId('6361f0b2c84fc28f43c94329'), 'fname': 'abc', 'lname': 'awe', 'salary': 100000}

In [21]:
for document in my_col.find({}).skip(3): # skip first 3 documents
    print(document)

{'_id': ObjectId('6361f0b2c84fc28f43c9432a'), 'fname': 'xyz', 'lname': 'www', 'salary': 50000}
{'_id': ObjectId('638c8a699ecc97815ce8f555'), 'fname': 'abcd', 'lname': 'asdf', 'salary': '25000'}
{'_id': ObjectId('638f26289ecc97815ce8f557'), 'fname': 'lata', 'lname': 'Rao', 'salary': '30000'}
{'_id': ObjectId('639059624e83670ac3c7c42f'), 'fname': 'pqr', 'lname': 'qqq', 'salary': 45000}

In [23]:
page_limit =3
for page_num in [1,2]:
    print("\n--page{}--".format(page_num))
    for document in my_col.find({}).skip((page_num-1)*page_limit).limit(page_limit):
        print(document)

--page1--
{'_id': ObjectId('6361efc6c84fc28f43c94327'), 'fname': 'Prachi', 'lname': 'Natu', 'salary': 200000}
{'_id': ObjectId('6361f0b2c84fc28f43c94328'), 'fname': 'Anand', 'lname': 'Khandekar', 'salary': 200000}
{'_id': ObjectId('6361f0b2c84fc28f43c94329'), 'fname': 'abc', 'lname': 'awe', 'salary': 100000}

--page2--
{'_id': ObjectId('6361f0b2c84fc28f43c9432a'), 'fname': 'xyz', 'lname': 'www', 'salary': 50000}
{'_id': ObjectId('638c8a699ecc97815ce8f555'), 'fname': 'abcd', 'lname': 'asdf', 'salary': '25000'}
{'_id': ObjectId('638f26289ecc97815ce8f557'), 'fname': 'lata', 'lname': 'Rao', 'salary': '30000'}

### cursor.count() vs collection.count_documents()

In [26]:
find_query_filter = {"fname": "Prachi"}
find_cursor = my_col.find(find_query_filter)

In [28]:
find_cursor

In [30]:
find_cursor.count

AttributeError: 'Cursor' object has no attribute 'count'

In [29]:
my_col.count_documents(find_query_filter)

1

In [31]:
find_cursor_skip = my_col.find(find_query_filter).skip(1)

In [32]:
find_cursor_skip.count()

AttributeError: 'Cursor' object has no attribute 'count'

In [33]:
find_cursor_skip.count(with_limit_and_skip=True)

AttributeError: 'Cursor' object has no attribute 'count'

### distinct()

In [34]:
reply_cursor = my_col.find({})

In [36]:
reply_cursor.distinct("fname") # documents with name without duplicate entries

['Anand', 'Prachi', 'abc', 'abcd', 'lata', 'pqr', 'xyz']

In [37]:
distinct_count = len(reply_cursor.distinct("fname"))
all_count = my_col.count_documents({})

print("{} unique product names found vs {} total entries".format(distinct_count, all_count))

7 unique product names found vs 7 total entries

### Using projection

In [38]:
find_projection_cursor = my_col.find({"fname": "Prachi"}, {"salary": 200000})

In [39]:
for document in find_projection_cursor:
    print(document)

{'_id': ObjectId('6361efc6c84fc28f43c94327'), 'salary': 200000}

In [41]:
my_col.find_one({"fname": "Prachi"}, {"_id":0,"salary":1})

{'salary': 200000}